* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box
}

body {
  color: $color__black;
  font-family: $font-family__default;
  font-size: 14pt;
  background: $color__white;
}