.section-index {
  p, li {
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto
  }

  p {
    max-width: $max-width__text
  }
}

.section-index-illustration {
  position: relative;
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  ul {
    list-style: none;
    display: none;

    li {
      position: absolute;

      a {
        width: 10rem;
        height: 10rem;
        color: transparent;
        font-size: .9em;
        font-weight: 600;
        line-height: 10rem;
        text-align: center;
        text-transform: uppercase;
        background: transparent;
        border: 4px solid $color__black;
        border-radius: 50%;
        display: block;
        transform: scale(.5);
        transition: color .15s ease, background .15s ease, border .15s ease, transform .15s ease;

        &:hover {
          color: $color__white;
          background: rgba($color__black, .5);
          border: none;
          transform: scale(1)
        }
      }
      
      &:first-child {
        right: 0;
        bottom: 20%
      }

      &:nth-child(2) {
        top: 10%;
        left: 50%
      }

      &:nth-child(3) {
        bottom: 0;
        left: 40%
      }

      &:nth-child(4) {
        top: 50%;
        left: 0
      }
    }
  }
}

.section-index-areas, .section-index-phone {
  position: relative;
  margin-bottom: 2em;
  padding: 2em 0;
  z-index: 1;

  &:before, &:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    content: "";
    background-size: contain;
    z-index: -1;
  }

  &:before {
    background-image: url(/images/paper_background.jpg)
  }

  &:after {
    mix-blend-mode: multiply
  }
}

.section-index-areas {
  &:before, &:after {
    transform: skewY(-2deg);
  }

  &:after {
    background: $color__teal
  }

  ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: $gap__default;
    justify-items: center;

    li {
      padding: 1.5em;
      text-align: center;
      background: $color__white;

      h3 {
        margin-bottom: 1em;
        font-size: 1em
      }

      p {
        margin: 0;
        font-size: .8em
      }
    }
  }
}

.section-index-info {
  margin-bottom: 4em;

  ul {
    margin-left: 1.2em;
    line-height: 1.5;
    max-width: $max-width__text;
    list-style: url(/images/list_bullet_index_info.svg);

    li {
      margin-bottom: 1em;

      &:last-child {
        margin: 0
      }
    }
  }
}

.section-index-phone {
  &:before, &:after {
    transform: skewY(2deg)
  }

  &:after {
    background: $color__salmon-light
  }

  h3 {
    margin-bottom: 1em;
    padding: .5em;
    font-weight: 600;
    background: $color__salmon
  }
}

.section-index-about {
  margin-bottom: 2em;

  p {
    line-height: 1.5
  }
}

@media (min-width: $breakpoint__desktop) {
  .section-index-illustration {
    margin-top: 2em;
    margin-bottom: 4em;

    ul {
      display: inherit
    }
  }

  .section-index-areas, .section-index-phone {
    margin-bottom: 4em;
    padding: 6em 0
  }

  .section-index-areas ul {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .section-index-phone > div > div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: $gap__default;

    & > div {
      p {
        padding: 0 .5em
      }

      &:first-child {
        grid-area: 1 / 1 / last-line / 2;

        p {
          padding: 0
        }
      }

      &:last-child {
        grid-area: 2 / 2 / last-line / 4
      }
    }
  }
}