.ol-shop-register-process {
  margin-left: 2em;
  max-width: $max-width__text - 100px;
  font-size: 1.5em;
  font-weight: 600;
  list-style: decimal-leading-zero;

  li {
    margin-bottom: .5em;
    line-height: 1;

    span {
      font-size: .75em;
      font-weight: 400
    }

    a {
      font-weight: 600
    }
  }
}