.section-background {
  margin-left: -.75em;
  margin-right: -.75em;
  
  & > div {
    margin: 0 .75em;
  }
}

@media (min-width: $breakpoint__desktop) {
  .section-background {
    max-width: none;

    & > div {
      margin: 0 auto;
      padding: 0 2em;
      max-width: $max-width__content
    }
  }
}