.section-background {
  position: relative;
  margin-right: -.75em;
  margin-bottom: 2em;
  margin-left: -.75em;
  padding: 2em 0;
  z-index: 1;

  &:before, &:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    content: "";
    background-size: contain;
    z-index: -1;
  }

  &:before {
    background-image: url(/images/paper_background.jpg)
  }

  &:after {
    mix-blend-mode: multiply
  }
  
  & > div {
    margin: 0 .75em;
  }
}

.section-background-teal {
  &:after {
    background: $color__teal
  }

  .p-statement {
    color: $color__teal
  }
}

.section-background-slanted-left {
  &:before, &:after {
    transform: skewY(-2deg)
  }
}

.section-start-helping {
  h2 {
    margin-bottom: 1em;
    color: $color__salmon
  }

  .div-start-helping-download {
    margin-top: 4em;

    div {
      display: flex
    }

    p {
      color: $color__salmon;
      font-weight: 600;
      text-transform: uppercase;

      &:after {
        content: ":"
      }
    }

    a {
      position: inherit;
      margin: 0 0 4em 0;
      padding-left: 1.5em
    }
  }
}

.section-legal {
  * {
    max-width: $max-width__text;
  }

  h3, h4 {
    margin-bottom: .5em;
    font-weight: 600;
    text-transform: none;
  }

  p, ul {
    hyphens: none;
    -webkit-hyphens: auto;
    -moz-hyphens: auto
  }

  a {
    text-decoration: underline
  }

  ul {
    margin: 0 0 1em 1.5em;
  }
}

@media (min-width: $breakpoint__desktop) {
  .section-background {
    margin: 0 0 4em 0;
    padding: 6em 0;
    max-width: none;

    & > div {
      margin: 0 auto;
      padding: 0 2em;
      max-width: $max-width__content
    }
  }

  .section-start-helping {
    h2 {
      margin-bottom: 1em
    }

    .div-start-helping-download {
      div {
        justify-content: center
      }

      p:after {
        content: ""
      }

      a {
        position: relative;
        margin: 4em 0;
  
        &:before {
          top: -4em;
          left: -2em;
          position: absolute;
          width: 50%;
          height: 6em;
          content: "";
          background-image: url(/images/arrow_download.svg);
          background-color: unset;
          background-size: contain;
          background-repeat: no-repeat;
          pointer-events: none;
        }
      }
    }
  }
}