$color__black: #000;
$color__white: #fff;

$color__salmon: #f58382;

$font-family__default: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Symbol";

$max-width__content: 1200px;

$breakpoint__desktop: 801px;